body{
    background-color: cadetblue;
}

h1{
    text-align: center;
}

.mail-container{
    min-height: 500px;
    max-width: 300px;
    background-color: white;
    margin: 0 auto;
    border: 3px solid black;
}

.mail-container ul{
    list-style-type: none;
    line-height: 50px;
    font-size: 17px;
}

#generate-btn{
    padding: 10px;
    border-radius: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}